[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
scikit-learn = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
tensorflow-hub = "*"
tensorflow-text = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
